.section__details-content {
    display: flex;
    margin: 250px 0;
    padding-right: 200px;

    .section__details-img {
        margin-left: 80px;
        margin-right: 80px;
        width: 750px;
    }

    .section__details-text {

        display: flex;
        flex-direction: column;
        gap: 35px;

        .section__details-content-title {
            font-family: $font-main;
            text-transform: uppercase;
            font-size: $font-main-size-main__title;
            font-weight: $font-weight-main-title;
            letter-spacing: $main-letter-spacing__title;
            line-height: 1;
            margin: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            width: 450px;
        }

        .section__details-content-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .section__details--text {
                padding: 12px 0;
                margin-bottom: 10px;
                font-size: 20px;
            }

            .section__details-plus {
                font-family: $font-products-review;
                font-style: italic;
                color: $global-btn-color-hover;
                font-weight: 900;
                font-size: 20px;
                text-transform: uppercase;
                background-color: $header-btn-color;
                border-radius: 50px;
                border: solid $global-border-width $global-border-color;
                padding: 16px 25px;
                margin-top: 15px;
                width: 450px;
            }
        }
    }

}