.section__products {
    background: linear-gradient(to top, $color-background, $sec-color, $color-background);

    .section__products-content {

        .section__products-content-main {
            
            margin-top: 30px;
            text-align: center;

            .section__products-content-title {
                font-family: $font-main;
                text-transform: uppercase;
                font-size: $font-main-size-main__title;
                font-weight: $font-weight-main-title;
                letter-spacing: $main-letter-spacing__title;
                line-height: 1;
                margin: 0;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;

                .section__products-content-title-up {
                    font-family: $font-body-sub;
                    color: $main-color;
                    font-size: $font-products-size-sub;
                    font-weight: 600;
                    font-style: italic;
                    margin-bottom: -15px;
                }
            }
        }
        .section__product-item {
            top: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(to top, $main-color, $color-background);
        }

        .section__products-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 85px;
            width: 100%;
            gap: 25px;
            padding-left: 20px;
            padding-right: 20px;

            .product-card {
                // position: absolute;
                width: auto;
                height: 100%;
                display: block;
                box-sizing: border-box;
                border: solid $global-border-width $global-border-color;
                background: transparent;
                overflow: hidden;
                // opacity: .9999999;
                // -moz-border-radius: 1.875rem;
                // -o-border-radius: 1.875rem;
                // -ms-border-radius: 1.875rem;
                // -webkit-border-radius: 1.875rem;
                border-radius: 1.875rem;

                .section__products-card{
                    padding: 19px 23px;
                    // position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    // align-items: stretch;
                    // justify-content: stretch;
    
                    .section__products-header {
                        min-height: 1.5625rem;
                        justify-content: space-between;
                        margin-top: 0;

                        display: flex;
                        align-items: center;
                        margin-top: .625rem;

                        .section__products-review {
                            
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .jdge-all-reviews {
                                color: $main-color !important;
                        
                                span {
                                    &::before {
                                        content: "\f005";
                                        font-family: "Font Awesome 6 Free";
                                        font-style: normal;
                                        font-weight: bold;
                                        font-size: 18px;
                                    }
                                }
                            }

                            span {
                                text-transform: uppercase;
                                font-family: $font-products-review;
                                font-size: 16px;
                                font-weight: 900;
                                font-style: italic;
                            }
                        }
                    }
    
                    .section__products-body {
                        position: relative;
                        margin: 35px 0;
                        flex-grow: 1;
                        height: auto;
                        width: 100%;
                        text-align: center;

                        .section__product-img {
                            width: auto;
                            height: 300px;
                            transition: all .2s ease-in-out;
                        }

                    }
    
                    .section__products-footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 70px;
                          
                        .section__products-footer-title {
                            
                            margin: 0;
                            width: 60%;
                            // font-size: 2.5rem;
                            line-height: .9;
                            text-transform: uppercase;
                            // justify-content: center;
                            // text-align: center;
                            font-size: $font-products-size-footer;
                            // font-weight: 900;
                            // display: flex;
                            // gap: 25px;
                            // line-height: 1;   
                            // margin-top: 10px;
                            // margin-bottom: 45px;
                        }
    
                        .section__products-footer-btn {

                            font-family: $font-products-review;
                            color: $global-btn-color;
                            font-weight: 900;
                            font-size: 20px;
                            text-transform: uppercase;
                            background-color: $global-btn-background;
                            border-radius: 50px;
                            border: solid $global-border-width $global-border-color;
                            padding: 16px 25px;
                            transition: all .2s ease-in-out ;

                            &:hover {
                                background-color: $global-btn-background-hover;
                                color: $global-btn-color-hover;
                            }
                            // .btn-shop {
                            //     font-family: $font-products-review;
                            //     color: $global-btn-color;
                            //     font-weight: 900;
                            //     font-size: 20px;
                            //     text-transform: uppercase;
                            //     background-color: $global-btn-background;
                            //     border-radius: 50px;
                            //     border: solid $global-border-width $global-border-color;
                            //     padding: 16px 25px;
                            //     margin-top: 15px;
                            //     transition: all .2s ease-in-out ;

                            //     &:hover {
                            //         background-color: $global-btn-background-hover;
                            //         color: $global-btn-color-hover;
                            //     }
                            // }
                            // text-transform: uppercase;
                            // width: 265px;
                            // margin-left: auto;
                            // background-color: $global-btn-background;
                            // border-radius: 50px;
                            // border: solid $global-border-width $global-border-color;
                            // color: $global-btn-color;
                            // padding: 16px;
                            // transition: all .2s ease-in-out ;
    
                        }
                    }
    
                }

                &:hover {
                    .section__product-img {
                        transform: scale(1.1) rotate(5deg);
                    }
                }
            }

        }

    }
}