
.section__social {
    background: linear-gradient(to top,$sec-color ,$color-background );
    margin: 0;
    padding-bottom: 120px;
}

.section__social-content {
    z-index: 40;
    display: flex;
    justify-content: center;
    margin: 75px 85px;
    margin-bottom: 0;
    flex-direction: column;
}

.section__social-content-title {
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: $font-main-size-main__title;
    font-weight: $font-weight-main-title;
    letter-spacing: $main-letter-spacing__title;
    display: flex;
    gap: 25px;
    line-height: 1;
    transform: $main-height-font__title;    
    margin-top: 10px;
    margin-bottom: 45px;
}

.section__social-content-carousel {
    margin-top: 20px !important;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: transparent;

    .carousel {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: 33.33%; /* Mostrar 3 videos al mismo tiempo */
        box-sizing: border-box;
        padding: 10px; /* Espacio entre los videos */
        display: flex;
        justify-content: center;

        video {
            width: auto;
            height: 600px; /* Ajusta la altura según lo necesites */
            object-fit: cover;
            border-radius: 8px;
            /* Reducir el tamaño de los controles */
            outline: none;
            transform: scale(0.95); /* Disminuir ligeramente el tamaño */
            &::-webkit-media-controls {
                width: 100% !important;
                font-size: 12px !important; /* Reducir el tamaño de los controles */
            }
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
    }
    
    button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .prev {
        left: 0px;
    }
    
    .next {
        right: 0px;
    }
    
}