<div class="section__products-items">
    <div class="product-card product" data-id="1">
        <div class="bg-gradient" style="background: linear-gradient(to top, #727272, #fff 75%);">
            <div class="section__products-card">
                <div class="section__products-header">
                    <div class="section__products-review">
                        <div class="jdge-all-reviews">
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-half"></span>
                        </div>
                        <span>1800 reviews</span>
                    </div>
                    <span class="secion__products-price">€25,95</span>
                </div>
                <div class="section__products-body">
                    <img class="section__product-img" src="assets/img/products-item/lata-1.png" alt="">
                </div>
                <div class="section__products-footer">
                    <h1 class="section__products-footer-title">
                        Energy ultra
                    </h1>
                    <div class="section__products-footer-btn add-to-cart" data-name="Producto 1" data-price="25.95">
                        <button>
                            add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card product" data-id="2">
        <div class="bg-gradient" style="background: linear-gradient(to top, #44e93c, #fff 75%);">
            <div class="section__products-card">
                <div class="section__products-header">
                    <div class="section__products-review">
                        <div class="jdge-all-reviews">
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-half"></span>
                        </div>
                        <span>1800 reviews</span>
                    </div>
                    <span class="secion__products-price">€25,95</span>
                </div>
                <div class="section__products-body">
                    <img class="section__product-img" src="assets/img/products-item/lata-2.png" alt="">
                </div>
                <div class="section__products-footer">
                    <h1 class="section__products-footer-title">
                        rio punch
                    </h1>
                    <div class="section__products-footer-btn add-to-cart" data-name="Producto 2" data-price="25.95">
                        <button>
                            add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card product" data-id="3">
        <div class="bg-gradient" style="background: linear-gradient(to top, #1aa87b, #fff 75%);">
            <div class="section__products-card">
                <div class="section__products-header">
                    <div class="section__products-review">
                        <div class="jdge-all-reviews">
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-half"></span>
                        </div>
                        <span>687 reviews</span>
                    </div>
                    <span class="secion__products-price">€25,95</span>
                </div>
                <div class="section__products-body">
                    <img class="section__product-img" src="assets/img/products-item/lata-3.png" alt="">
                </div>
                <div class="section__products-footer">
                    <h1 class="section__products-footer-title">
                        fiesta mango
                    </h1>
                    <div class="section__products-footer-btn add-to-cart" data-name="Producto 3" data-price="25.95">
                        <button>
                            add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card product" data-id="4">
        <div class="bg-gradient" style="background: linear-gradient(to top, #ef7070, #fff 75%);">
            <div class="section__products-card">
                <div class="section__products-header">
                    <div class="section__products-review">
                        <div class="jdge-all-reviews">
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-half"></span>
                        </div>
                        <span>1800 reviews</span>
                    </div>
                    <span class="secion__products-price">€25,95</span>
                </div>
                <div class="section__products-body">
                    <img class="section__product-img" src="assets/img/products-item/lata-4.png" alt="">
                </div>
                <div class="section__products-footer">
                    <h1 class="section__products-footer-title">
                       ultra watermelon
                    </h1>
                    <div class="section__products-footer-btn add-to-cart" data-name="Producto 4" data-price="25.95">
                        <button>
                            add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card product" data-id="5">
        <div class="bg-gradient" style="background: linear-gradient(to top, #faf26a, #fff 75%);">
            <div class="section__products-card">
                <div class="section__products-header">
                    <div class="section__products-review">
                        <div class="jdge-all-reviews">
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-half"></span>
                        </div>
                        <span>1800 reviews</span>
                    </div>
                    <span class="secion__products-price">€25,95</span>
                </div>
                <div class="section__products-body">
                    <img class="section__product-img" src="assets/img/products-item/lata-5.png" alt="">
                </div>
                <div class="section__products-footer">
                    <h1 class="section__products-footer-title">
                        ultra gold
                    </h1>
                    <div class="section__products-footer-btn add-to-cart" data-name="Producto 5" data-price="25.95">
                        <button>
                            add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card product" data-id="6">
        <div class="bg-gradient" style="background: linear-gradient(to top, #FFBDD5, #fff 75%);">
            <div class="section__products-card">
                <div class="section__products-header">
                    <div class="section__products-review">
                        <div class="jdge-all-reviews">
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-on"></span>
                            <span class="judge-star jdge-half"></span>
                        </div>
                        <span>687 reviews</span>
                    </div>
                    <span class="secion__products-price">€25,95</span>
                </div>
                <div class="section__products-body">
                    <img class="section__product-img" src="assets/img/products-item/lata-6.png" alt="">
                </div>
                <div class="section__products-footer">
                    <h1 class="section__products-footer-title">
                        strawberry dreams
                    </h1>
                    <div class="section__products-footer-btn add-to-cart" data-name="Producto 6" data-price="25.95">
                        <button>
                            add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>