@use 'libs/variables' as *;
@use 'partials/header';
@use 'partials/main';
@use 'partials/social';

@use 'libs/keyframes';

* {
    outline: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    font-size: $font-body-size-large;
    background-color: transparent !important;
    letter-spacing: .02px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}

a {
    all: unset;
    cursor: pointer;
}