@import 'libs/variables';
@import 'libs/keyframes';

@import 'partials/header';
@import 'partials/main';
@import 'partials/social';
@import 'partials/divisor';
@import 'partials/products';


* {
    outline: 0;
}

*, :after, :before {
    box-sizing: border-box;
    // border: 1px solid salmon;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-body;
    font-size: $font-body-size-large;
    background-color: transparent !important;
    letter-spacing: .02px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}

a {
    all: unset;
    cursor: pointer;
}